/node_modules

/public/hot

/public/storage

/public/attachments

/storage/*.key

/vendor

.env

.env.backup

.phpunit.result.cache

Homestead.json

Homestead.yaml

npm-debug.log

yarn-error.log

public/files

todo.md

.vapor/

.env.production

.env.staging

resources/assets/assets

.env.backupLocal

.env.test

vapor.yml

### IDE Helpers ###

###################

.idea/

.idea

.idea/**

### VSCode IDE Helpers ###

.vscode/

.vscode

rubio-demo.code-workspace

.env.testrubio

.env.testpedidosrubio

env.php

.env.productionTest

workspace.code-workspace

peticionesAPI_pruebas.http

.DS_Store/

.DS_Store

.env.test-v8

.env.test-v7

.env.help

.env.production-v8

.env.demo-forkable
